:root {
    --main-theme: #44B5FC;
    --border-radius: 10px;

    --dark-text: white;
    --light-text: black;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: lightblue;
}

main {
    background-color: beige;
    width: fit-content;
    margin: 10px auto;
    padding-bottom: 10px;
    border-radius: var(--border-radius);
}

h1 {
    font-size: 3em;
    margin-bottom: 0;
    color: var(--light-text);
}

h2 {
    text-align: center;
}

h3 {
    font-size: 2em;
    text-align: center;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-top: 100px; */
}

button {
    background-color: var(--main-theme);
    border: none;
    border-radius: var(--border-radius);
    padding: 10px 30px;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

ol {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

li {
    font-size: 1.5em;
    font-weight: bold;
}

li button {
    font-size: 1em;
    margin-bottom: 10px;
    /* background-color: var(--main-theme); */
    padding: 10px;
    border-radius: var(--border-radius);
    min-width: 30px;
    text-align: center;
    cursor: pointer;
    text-align: left;
}

.user-input {
    display: flex;
    justify-content: space-evenly;
    width: auto;
    margin: 10px;
}

.user-input input {
    font-size: 25px;
    width: 30%;
    padding: 5px;
    border-radius: var(--border-radius);
}

#scoreboard {
    display: flex;
    flex-direction: column;
    margin: 10px 20px;
    flex: 0 1 400px;
}

#scoreboard h3 {
    margin: 0;
}

#container-game-over {
    display: none;
    flex-direction: column;
    align-items: center;
}

#container-game-over p {
    font-size: 2.5em;
    margin: 10px;
}